html,
body {
  height: 100%;
  margin: 15px;

  .navigation { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
      float: left;
      a {
        display: block;
        padding: 8px;
        background-color: #dddddd;
      }
    }
  }

  .atom-feed {
    background-color: rgba(250, 235, 215, 0.35);
    margin-top: 15px;
    border-radius: 5px;
    padding: 15px;

    .atom {
      .atom-title {
        color: #333;
        font-size: 1.5em;
        font-weight: bold;
        font-family: sans-serif;
      }
  
      .atom-desc {
        color: #000000b4;
      }
  
      .atom-date {
        color: #000000b4;
        font-size: 0.8em;
      }
    }
  }
}